*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    background-color: black;
    max-width: 1440px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
/* секция header*/
.header {
    display: flex;
    padding: 0 72px;
    justify-content: space-between;
    background-color: transparent;
    position: sticky;
    top: 0;
    left: 0;
}

.header__logo {
    display: block;
    width: 79px;
    padding: 32px 0;
}

.header__links-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.header__links-list-item {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 32px 24px;
}

.header__link {
    color: white;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-decoration: none;
}

/*секция с информацией об авторе*/
.section__hero {
  position: relative;
  padding: 80px 40px 84px 0;
  background-color: transparent;
  z-index: 0;
  width: 100%;
}

.section__hero img {
  position: relative;
  width: 52%;
  z-index: 1;
}

.section__hero__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 32px;
  top: 27%;
  left: 46%;
  right: 40px;
  z-index: 2;
}

.hero-title {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  color: white;
  font-family: Sen;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
}

.hero-title span {
  color: rgba(255, 255, 255, 0.5);
}

.hero-description {
  color: white;
  font-family: Sen;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.section-hero__background-color {
  position: absolute;
  width: 62%;
  height: 900px;
  left: 38%;
  top: 0;
  z-index: -1;
  background-color: #181823;
}

/*оставшиеся секции в середине*/

/*секция footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #181823;
    padding: 80px 182px 80px 72px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__menu-social {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__logo {
    display: block;
    width: 131px;
}

.footer__logo img {
  width: 100%;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.footer__social-link {
    display: block;
    width: 24px;
}

.footer__links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 24px;
  max-height: 194px;
}

.footer__links-list-item {
  display: flex;
  align-items: center;
  width: 154px;
  height: 48px;
}

.footer__link {
  color: white;
  font-family: 'Sen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer__link:hover {
  border-bottom: white 1px solid;
}

.footer__copyright {
    color: rgba(132, 145, 160, 1);
    font-family: Sen;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
